<!DOCTYPE html>

<style>
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .container {
        display: table;
        height: 100%;
        width: 100%;
    }

    .content {
        display: table-row;
        height: 100%;
    }

    .content-body {
        padding:2%;
        background-color: #f0f7ee;
        display: table-cell;
    }

    .header {
        padding: 1%;
        background-color: #776871;
    }

    .link {
        color: black;
    }
</style>

<html>
<body>
<div class="container">
    <header class="header">
        <font size="5">
        <a class="link" href="../">Home</a> &nbsp&nbsp&nbsp
        <a class="link" href="../post">Posts</a> &nbsp&nbsp&nbsp
        <a class="link" href="../project">Projects</a>
        </font>
    </header>
    <section class="content">
        <div class="content-body">
            @Section['Content']
        </div>
    </section>
</div>
</body>
</html>