<!DOCTYPE html>

<style>
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .container {
        display: table;
        height: 100%;
        width: 100%;
    }

    .content {
        display: table-row;
        height: 100%;
    }

    .content-body {
        background-color: #f0f7ee;
        display: table-cell;
    }

    .header {
        padding: 15px;
        background-color: #776871;
        display: table-row;
    }
</style>

<html>
<body>
<div class="container">
    <header class="header">
        <a href="../">H  </a>
        <a href="../post">P1  </a>
        <a href="../project">P2  </a>
    </header>
    <section class="content">
        <div class="content-body">
            <p>@Section['Content']</p>
        </div>
    </section>
</div>
</body>
</html>